// @import '../scss/defaults/mixins/_mixins';
// @import './defaults/core/_core';

// @import '../../../../assets/scss/style';
// @import '../../../../assets/scss/form';
// @import '../../../../assets/scss/buttons';

.media-manager-open {
	&:before {
		content: '';
		background: #000;
		opacity: .7;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.media-manager {
	position: absolute;
	overflow: hidden;
	top: 2rem;
	right: 2rem;
	bottom: 2rem;
	left: 2rem;
	background: white;
	
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s ease-in-out;

	.media-manager-open & {
		opacity: 1;
		visibility: visible;
	}

	.open-mm {

	}

	.close-mm {
		padding: 0 2rem;
		float: right;
		line-height: 5rem;
		text-align: center;
		height: 5rem;
		border-left: 1px solid #ddd;
		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	&--toolbar {
		@include clearfix();
	}
	&--tabs {
		float: left;
		margin-left: 2rem;
		li {
			line-height: 5rem;
			display: inline-block;
			a {
				display: block;
				padding: 0 1rem;
				font-size: 1rem;
				font-weight: 600;
				margin-bottom: -1px;
				text-transform: uppercase;
				border: 1px solid transparent;
				border-top: none;
				&:hover {

				}
				&.is-active {
					border-color: #ddd;
					border-bottom-color: #fff;
				}
			}
		}
	}
	[data-tab-content] {
		display: none;
		&.is-active {
			display: block;	
		}
	}
	&--footer {
		height: 5rem;
		line-height: 5rem;
		padding: 0 1rem;
		text-align: right;
		border-top: 1px solid #ddd;
		.media-select {

		}
	}
	&--inner {
		padding: 0;
		@include clearfix();
		border-top: 1px solid #ddd;
		height: calc(100% - 10rem); // toolbar and footer height
	}
	&--attachments,
	&--sidebar {
		height: 100%;
		padding: 2rem;
	}
	&--attachments {
		float: left;
		width: calc(100% - 25rem);
		#media-search {
			height: 3rem;
			line-height: 3rem;
			padding: 0 1rem;
			margin-left: .5rem;
			margin-bottom: 1rem;
		}
		.attachment-list {
			padding: 0;
			overflow: scroll;
			background: white;
			height: calc(100% - 4rem);
			li {
				cursor: pointer;
				list-style: none;
				position: relative;
				margin: 0;
				padding: 0.25rem;
				vertical-align: top;
				display: inline-block;
				border: 0.4rem solid transparent;
				@include breakpoint(640px) {
					width: calc(100%/3);
				}
				@include breakpoint(840px) {
					width: 25%;
				}
				@include breakpoint(1080px) {
					width: 20%;
				}
				@include breakpoint(1220px) {
					width: 16%;
				}
				img {
					width: 100%;
					vertical-align: top;
				}
				&.is-active {
					border-color: deepskyblue;
				}
			}
		}
	}
	&--sidebar {
		float: right;
		background: #f3f3f3;
		// padding-left: 2rem;
		width: calc(25rem - 1px);
		border-left: 1px solid #ddd;
		li {
			list-style: none;
		}
		> ul {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ddd;
			li {
				line-height: 1.5rem;
				margin-bottom: .5rem;
				span {
					font-weight: 700;
				}
			}
		}
		form {
			.row {
				margin-bottom: 1rem;
				label {
					font-weight: 600;
					margin-bottom: .5rem;
				}
				&:last-of-type {
					margin-bottom: 0;
					margin-top: 1rem;
					padding-top: 1rem;
					text-align: justify;
					border-top: 1px solid #ddd;
					&:after {
						content: '';
						width: 100%;
						display: inline-block;
					}
					button {
						width: 48%;
					}
				}
			}
		}
	}
}

.file-uploader-wrap {
	height: 100%;
	margin: 0;
	#template {
		display: none;
	}
}

.dropzone {
	height: 100%;
	padding: 0 2rem;
	&.dz-started {
		.dz-message {
			display: none;
		}
	}
}

.dz-default.dz-message {
	position: relative;
	width: 100%;

	top: 50%;
	margin-top: -6rem;
	height: 12rem;
	position: absolute;
	left: 0;
	right: 0;

	.dz-drag-hover & {
		&:after{
			border-color: red;
		}
	}
	&:before {
		content: "Drop your files anywhere to upload";
		font-size: 16px;
		font-weight: 600;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 3;
		cursor: default;
	}
	span {
		position: absolute;
		width: 10rem;
		left: -5rem;
		margin-left: 50%;
		text-align: center;
		cursor: pointer;
		padding: 1.5rem;
		top: 7rem;
		background: #F3F3F3;
		&:before {
			content: "or";
			cursor: default;
			position: absolute;
			left: -.8rem;
			margin-left: 50%;
			top: -3.5rem;
		}
	}
}

.dz-image-preview {
	position: relative;
	display: none;
}

.loader {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: white;
	}
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: relative;

	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	padding-top: 4rem;
	display: none;

	&.is-active {
		display: block;
	}

	span {
		display: inline-block;
		width: 5px;
		height: 20px;
		background-color: #3498db;
	}

	span:nth-child(1){
		animation: grow 1s ease-in-out infinite;
	}

	span:nth-child(2){
		animation: grow 1s ease-in-out 0.15s infinite;
	}

	span:nth-child(3){
		animation: grow 1s ease-in-out 0.30s infinite;
	}

	span:nth-child(4){
		animation: grow 1s ease-in-out 0.45s infinite;
	}
}

@keyframes grow{
	0%,
	100%{
		transform: scaleY(1);
	}

	50%{
		transform: scaleY(1.8);
	}
}