<div class="media-manager">
	<!-- search / filter -->
	<div class="media-manager--toolbar">
		<ul class="media-manager--tabs">
			<li>
				<a href="javascript:;" class="is-active" data-tab="upload">Upload Files</a>
			</li>
			<li>
				<a href="javascript:;" data-tab="media">Media Manager</a>
			</li>
		</ul>
		<a href="javascript:;" class="close-mm">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 357 357">
				<g>
					<g id="clear">
						<polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5"/>
					</g>
				</g>
				<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
			</svg>
		</a>
	</div>
	<div class="media-manager--inner is-active" data-tab-content="upload">
		<div class="file-uploader-wrap">
			<div id="template" class="file-row">
				<div class="dz-image">
					<img data-dz-thumbnail />
				</div>
			</div>
			<form action="" class="dropzone" id="file-uploader">
				<div class="loader">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="dz-message dz-default">
					<span id="clickable">Browse...</span>
				</div>
			</form>
		</div>
	</div>
	<div class="media-manager--inner" data-tab-content="media">
		<!-- thumb grid -->
		<div class="media-manager--attachments">
			<form>
				<input id="media-search" name="search" placeholder="Search media items..." type="text" data-list=".attachment-list" data-nodata="No results found" autocomplete="off">
			</form>
			<ul class="attachment-list"></ul>
		</div>
		<!-- media info panel -->
		<div class="media-manager--sidebar"></div>
	</div>
	<div class="media-manager--footer">
		<a href="javascript:;" class="btn media-select">Select Image</a>
	</div>
</div>