@import './global/vars';

.styleguide {

	&__section {
		margin-bottom: 10rem;
		border-bottom: 0.1rem solid $line-color;
	}

	&__heading {
		max-width: none;
		font-size: 2.4rem;
		line-height: 3.2rem;
		font-weight: 900;
		padding-top: 2rem;
		margin-bottom: 2rem;
		border-top: 0.1rem solid $line-color;
	}

	&__colors {

		li {
			width: 16rem;
			height: 16rem;
			display: inline-block;
			vertical-align: top;
			margin: 0 2rem 2rem 0;
		}

		.bg--white {
			border: 0.1rem solid #e6e6e8;
		}

	}
}