@import './global/vars';

.styleguide {

	header {
		margin-top: 10rem;
		border-top: 0.1rem solid #dfdfdf;

		padding-top: 6rem;
		padding-bottom: 25rem;
	}

	&__heading {
		padding-top: 2rem;
		max-width: none;
		font-size: 2.4rem;
		font-weight: 900;
		border-top: 0.1rem solid color(black);
		margin-bottom: 5rem;
	}

	&__colors {
		margin-bottom: 22rem;

		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 2rem 2rem 0;
			width: 16rem;
			height: 16rem;
		}

		.bg--white {
			border: 0.1rem solid #e6e6e8;
		}

	}
}