/////////////////////////
// Fonts
/////////////////////////

// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

// @include font-face('Moderat', '../fonts/moderat-regular-italic/Moderat-Regular-Italic', 400, italic);

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/////////////////////////
// Heading styles
/////////////////////////

@for $i from 1 through 6 {

	h#{$i},
	.h#{$i} {
		font-family: $header-font;
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;

		word-wrap: break-word;
		word-break: break-word;

		line-height: 1;

		text-transform: uppercase;
	}
}

// base typos
body {
	font-weight: 400;
}

.h1,
h1 {
	@include fluid-scale(font-size, 320px, 1720px, 65px, 395px);

	@include mq('medium') {
	}
	@include mq('large') {
	}
	@include mq('xlarge') {
	}
}

.h2,
h2 {
	@include fluid-scale(font-size, 320px, 1440px, 25px, 50px);
	line-height: 1.5;
	text-transform: none;
	font-family: $body-font;
	@include mq('medium') {
	}
	@include mq('large') {
	}
}

.h3,
h3 {
	@include fluid-scale(font-size, 320px, 1440px, 20px, 30px);
	line-height: 1.5;
	text-transform: none;
	font-family: $body-font;
	@include mq('medium') {
	}
	@include mq('large') {
	}
}

.h4,
h4 {
	@include mq('medium') {

	}
	@include mq('large') {

	}
}

.h5,
h5 {
	@include mq('medium') {
	}
	@include mq('large') {
	}
}

.h6,
h6 {
	@include mq('medium') {

	}
	@include mq('large') {

	}
}

p {

}

.lead {
	font-size: 2rem;
	margin-bottom: 5rem;
	@include mq('small') {

	}
}

.eyebrow {

}

.byline {
	@include mq('small') {

	}
}

.text-align {
	@include mq('medium') {
		&--left {
			text-align: left;
		}
		&--right {
			text-align: right;
		}
		&--center {
			text-align: center;
		}
		&--justify {
			text-align: justify;
		}
	}
}
