////////////////////////////////////////////////////////
// Site Global Dimensions
////////////////////////////////////////////////////////

$screen-tiny:					480px;
$screen-small:					640px; // anything above is tablet
$screen-medium:					1024px;
$screen-large:					1280px;
$screen-xlarge:					1480px;
$screen-xxlarge:				1700px;

////////////////////////////////////////////////////////
// Container Settings
////////////////////////////////////////////////////////

// 142rem main (nav/content?)
// 172rem wider ( banners )
// 57.5rem is smallest container for blurbs/callouts and such

////////////////////////////////////////////////////////
// Breakpoint Mapping
////////////////////////////////////////////////////////

// // Example
// $breakpoints: (
// 	'small'     : 480px,
// 	'medium'    : 768px,
// 	'large'     : 1024px,
// 	'xlarge'    : 1280px,
// 	'xxlarge'   : 1440px,
// 	'xxxlarge'  : 1720px
// );

////////////////////////////////////////////////////////
// Spacer Settings
////////////////////////////////////////////////////////

$spacing-scale : 1rem;
$spacing-count : 14;

////////////////////////////////////////////////////////
// z-index Mapping
////////////////////////////////////////////////////////

// // Example
// $z-indexes: (
// 	'fullscreen',
// 	'modals',
// 	'alerts',
// 	'nav',
// 	'stickies',
// 	'content',
// 	'background'
// );

////////////////////////////////////////////////////////
// Grid
// - core/_grid.scss
// Container and Column classes for simplegrid
////////////////////////////////////////////////////////

$container-class:				'container'; // defaults to [data-layout = "container"]
$row-class:						'row'; // defaults to [data-layout = "grid"]
$column-class:					'col'; // defaults to [data-columns = "$"]
$grid-columns:					12; // max number of columns
$gutter:						2rem;

// $gridDebug:						true; // grid colors

////////////////////////////////////////////////////////
// font stacks - core/_fonts.scss
////////////////////////////////////////////////////////

$body-font:						'GT Pressura', helvetica, sans-serif;
$header-font:					'Trade Gothic', $body-font;
$script-font:					'Pea Aubrey', $body-font;

// alt

$sans:							$body-font;
$slab:							$header-font;

////////////////////////////////////////////////////////
// Base Typography Values
////////////////////////////////////////////////////////

$rem-base:						10px !default; //
$base-font-size:				62.5% !default; // $base-font-size is 16px, or 10px incase users have browser settings set to specific font size, not default
$base-line-height:				125% !default; // $base-line-height is 24px if 150%

////////////////////////////////////////////////////////
// Font Weights
////////////////////////////////////////////////////////

////////////////////////////////////////////////////////
// Colors
// - asses/scss/colors.scss
// - 00_settings/script.js - SS.colors
//
// - Cool
// - Warm
// - Gray Scale
//
////////////////////////////////////////////////////////

// Cool
$green:                         #1e9034;

// Warm
$yellow:                        #fff200;
$gold: 							#e4a73d;
$red:							#d42a2a;

// Gray Scale
$white:                         #fff;
$offwhite: 						#d2d2d2;
$tertiary-grey:                 #eaeaea;
$sidebar-grey: 					#bdbdbd;
$line-color:					#aaaaaa; // on light
$light-grey:                    #cbcbcb; // typically headings on dark
$med-grey:                      #393939;
$med-dark-grey:                 #282828;
$dark-grey:                     #202020;
$black:                         #1a1a1a;

// text colors
$text-grey:                     #6d6d6d; // 6d6d6d or 424242...theres to many different greys were missing, dammit jon consolidate your shit, you're a professional

// Social Colors
$fb-blue:						#3c599b;
$twitter-blue:					#3d99fb;

// Project Colors
$primary-color:                 $green;
$accent-color:                  #c2a963;

// Selection Colors
$selection-bg-color:            $yellow;
$selection-text-color:          $black;

// .Highlight/.text-highlight Colors
$highlight-bg-color:            transparent;
$highlight-text-color:          $primary-color;

// UI Colors
$success-color:                 #31aa51;
$error-color:                   #d42a2a;

// Yellow / Gold
$gold:                          #f7a21f;
