
@keyframes mqn-swipe-zoom-up {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
		transform: scale(1.15);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}


@keyframes mqn-swipe-up {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

[data-src] {
	opacity: 0;
	transform: scale(1.08);
	transition: opacity .45s ease-in-out, 
				// transform 1.2s cubic-bezier(0.1, 0.01, 0, 0.83);
				// transform 1.2s cubic-bezier(0.1, 0.01, 0, 0.65);
				transform .45s cubic-bezier(.215,.61,.355,1); // nice
}

// 
.lazyload {
	width: 100%;
	position: relative;
	
	background-color: tan;
	
	overflow: hidden; // for zoom effect

	// specific to example, would need to set per elem if multiple ratios..
	@include responsive-ratio(1200, 600, true);

	&--long {
		@include responsive-ratio(1280, 2960, true);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		backface-visibility: hidden;
	}

	// figure example
	figure {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
	}
}

.lazyloaded {
	opacity: 1;
	transform: scale(1);
	
	// ==== these fuck with the smoothscrolling of main, gpu overload?
	// // // animation: 1.3s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-swipe-zoom-up;
	// animation: 1.1s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-swipe-zoom-up;
	// // // animation: 0.8s cubic-bezier(.08,.03,.22,.87) 0s 1 normal forwards mqn-swipe-zoom-up;
}
// 