.hero {
	display: block;
	height: 20rem;
	background: red;
	// background: beige url('/assets/images/slack-imgs.jpg');

	h2 {
		background: green;
		transform: rotate(90deg); // testing autoprefixer
	}
}