// usage
// @include font-face('Gill Sans', 'path/to/font', 200);
// @include font-face('Gill Sans', 'path/to/font', 400, italic);

@mixin font-face($font-family, $file-path, $font-weight: null, $font-style:null) {
	@font-face {
		font-family: $font-family;
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
					url('#{$file-path}.woff') format('woff');
					// url('#{$file-path}.woff') format('woff'),
					// url('#{$file-path}.ttf') format('truetype');
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: fallback; // default: auto
	}
}
