<form class="edit-form">
	<fieldset>
		<h2>{{title}}</h2>
		<div class="row">
			<label>Post Title</label>
			<input name="title" type="text">
		</div>
		<div class="row">
			<label>Image</label>
			<a href="javascript:;" class="btn open-mm">Media Manager</a>
			<img src="" class="img-preview">
			<input name="select-image" type="hidden">
		</div>
		<div class="row">
			<label>Post Content</label>
			<textarea name="content" id="post-content" cols="30" rows="10"></textarea>
		</div>
		<div class="row">
			<button type="submit">Do it bish</button>
		</div>
	</fieldset>
</form>
