{% extends 'views/templates/base.twig' %}

{# {% block head %}
	<link rel="stylesheet" href="../assets/css/app.bundle.css">
{% endblock %} #}

{% block content %}

	<h1>About page</h1>

	{# {% include 'views/globals/header.twig' %} #}

	<pre>{{data['a'] | json_encode}}</pre>

	<img src="/assets/images/1.jpg">

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, delectus illo recusandae repudiandae reiciendis at. Dicta, eum, necessitatibus. Illo blanditiis ducimus facere voluptates eligendi voluptate, harum architecto voluptatibus quod nam.</p>

{% endblock %}

{% block afterFoot %}
	<!-- <script src="http://localhost:3000/assets/js/about.bundle.js"></script> -->
{% endblock %}