{% extends 'templates/base.twig' %}

{% block content %}
	
	{% include 'partials/header.twig' %}
	
	<div class="styleguide__section">
		<h2 class="styleguide__heading">Brand Colors</h2>
		<ul class="styleguide__colors">
			<li class="bg--primary"></li>
			<li class="bg--accent"></li>
			<li class="bg--yellow"></li>
			<li class="bg--light-grey"></li>
			<li class="bg--med-grey"></li>
			<li class="bg--dark-grey"></li>
			<li class="bg--white"></li>
			<li class="bg--black"></li>
			<li class="bg--error"></li>
			<li class="bg--success"></li>
		</ul>
	</div>


{% endblock %}