<header class="header" data-ajax-links>
	<nav class="" role="nav">
		<a href="/" class="logo" title="Company">
			<svg><use xlink:href="#logo"></use></svg>
		</a>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>