<div class="page-loader">
	
	<div class="percentage" id="percent"></div>
	<div class="loader">
		<div class="trackbar">
			<div class="loadbar"></div>
		</div>
	</div>

	<div class="page-loader__bg"></div>
	
</div>