<ul class="social-channels">
	<li>
		<a href="javascript:;"><svg><use xlink:href="#icon-facebook"></use></svg></a>
	</li>
	<li>
		<a href="javascript:;"><svg><use xlink:href="#icon-twitter"></use></svg></a>
	</li>
	<li>
		<a href="javascript:;"><svg><use xlink:href="#icon-pinterest"></use></svg></a>
	</li>
</ul>