{% extends 'base.twig' %}

{% block content %}
	
	<!-- testing twig -->
	{% include './views/partials/header.twig' %}

	{% include './views/modules/heroes/hero/template.twig' %}

	<h1>{{ pageTitle }}</h1>

	<a href="pages/about.html">about link</a>

	<!-- this one worked -->
	<img src="/assets/images/slack-imgs.jpg">
	
	<pre>{{data | json_encode}} </pre>

	<pre>{{data['test']['title']}}</pre>

	<ul>
		{% for client in data['test']['clients'] %}
			<li>{{ client }}</li>
		{% endfor %}
	</ul>
	
	<div id="app"></div>

{% endblock %}