{# base.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Webpack Ish</title>
		
		{% block head %}

		{% endblock %}

	</head>
	<body class="" data-template="base.twig">

		<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->
		
		<main id="main">

			{% block content %}{% endblock %}

		</main>

		{% block foot %}

			{% block beforeFoot %}{% endblock %}

			{#
			<script src="./assets/js/common.js"></script>
			<script src="./assets/js/main.bundle.js"></script>
			#}


			<script src="http://localhost:3000/assets/js/common.js"></script>
			<script src="http://localhost:3000/assets/js/main.bundle.js"></script>

			{% block afterFoot %}{% endblock %}

		{% endblock %}
	
	</body>
</html>