{# base.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Webpack Ish</title>
		
		{% block head %}
			<link rel="stylesheet" href="./assets/css/main.bundle.css">
		{% endblock %}

	</head>
	<body class="" data-template="base.twig">

		<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->
		
		<main id="main">

			{% block content %}{% endblock %}

		</main>

		{% block foot %}

			<script src="./assets/js/vendor.js"></script>
			<script src="./assets/js/main.bundle.js"></script>

		{% endblock %}
	
	</body>
</html>